/* reset dasar */
body {
    font-family: playfair display, serif;  
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* logo */
.logo img {
    height: 45px;
    width: auto;
    display: block;
}
/* navbar */
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
    margin: 20px auto 0;
    width: 76%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 85px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-menu a {
    color: #41521F;
    text-decoration: none;
}

.hamburger-menu {
    display:none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 1000;
}

.hamburger-menu span {
    width: 26px;
    height: 3px;
    background-color: #41521F;
    border-radius: 4px;
}

@media(max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 260px;
        background-color: white;
        flex-direction: column;
        padding: 80px 24px;
        gap: 24px;
        transition: right 0.3s ease;
        box-shadow: -4px 0 20px rgba(0,0,0,0.1);
    }

    .nav-menu.active {
        right: 0;
    }
}
/* section umum */
section {
    text-align: center;
    min-height: 80vh;
}

/* hero */
#hero {
    position: relative;
    display: flex;
    align-items: center;
    padding: 50px 10% 50px;
    justify-content: space-between;
    background-image: url(assets/kafe2.png);
    background-color: #41521F;


}

.hero-text {
    max-width: 60%;
    text-align: left;
    color: #41521F;
}

.hero-text h1 {
    font-size: 54px;
    /* line-height: 1.5; */
    margin: 0 0 12px 0;
}

.hero-text p {
    font-size: 17px;
    margin: 0 0 16px 0;
    line-height: 1.5;
}

#tombol-hero {
    padding: 12px 24px;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

#tombol-hero:hover {
    background-color: #41521F;
}

.hero-image {
    position: relative;
    width: 420px;
    height: 300px;
}

/* about */
/* css grid utama */
#about {
    padding: 80px 10%;
    color: #41521F;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: auto auto;
    gap:24px;
    align-items: stretch;
}
.about-image {
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    /* border: 1px solid #41521F; */
}

.about-image.big {
    background-image: url(assets/about.jpg);
}

.about-text {
    text-align: left;
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 5px;
}

.about-text .tagline {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
}

.about-text p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

/* Menu */
#menu {
    padding: 80px 10%;
    color: #41521F;
}

.menu-card-container {
    display: flex;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background: pink;
    padding: 10px;
    width: 250px;
    border-radius: 2%;
}


/* footer */
footer {
    background-color: #41521F;
    color: white;
    text-align: center;
    padding: 20px;
}
