/* reset dasar */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* logo */
.logo img {
    height: 45px;
    width: auto;
    display: block;
}
/* navbar */
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
    margin: 20px auto 0;
    width: 90%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

/* section umum */
section {
    padding: 60px 20px;
    text-align: center;
    min-height: 80vh;
}

/* hero */
#hero {
    /* background-color: #F5FDC6; */
    background-image: url("assets/heroimage.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero button {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

#hero button:hover {
    background-color: green;
}

/* services card */
.card-container {
    display: flex;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background: pink;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

/* footer */
footer {
    background-color: babyblue;
    color: black;
    text-align: center;
    padding: 20px;
}
