/* reset dasar */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* logo */
.logo img {
    height: 45px;
    width: auto;
    display: block;
}
/* navbar */
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
    margin: 20px auto 0;
    width: 90%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-menu a {
    color: #41521F;
    text-decoration: none;
}

.hamburger-menu {
    display:none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 1000;
}

.hamburger-menu span {
    width: 26px;
    height: 3px;
    background-color: #41521F;
    border-radius: 4px;
}

@media(max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 260px;
        background-color: white;
        flex-direction: column;
        padding: 80px 24px;
        gap: 24px;
        transition: right 0.3s ease;
        box-shadow: -4px 0 20px rgba(0,0,0,0.1);
    }

    .nav-menu.active {
        right: 0;
    }
}
/* section umum */
section {
    padding: 60px 20px;
    text-align: center;
    min-height: 80vh;
}

/* hero */
#hero {
    /* background-color: white; */
    background: linear-gradient(to bottom, #F5FDC6, white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;

}

.hero-text {
    max-width: 45%;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 16px;
}

.hero-text p {
    margin-bottom: 24px;
}

#tombol-hero {
    padding: 12px 24px;
    border: none;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#tombol-hero:hover {
    background-color: green;
}

.hero-image {
    position: relative;
    width: 420px;
    height: 300px;
}

/* rectangle dibelakang gambar */
.img-bg {
    position: relative;
    top:-20px;
    right: -20px;
    width: 100%;
    height: 100%;
    background-color: #D0B17A;
    border-radius: 24px;
    z-index: 1;
}

/* gambar */
.hero-image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    z-index: -1;
}
/* services card */
.card-container {
    display: flex;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background: pink;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

/* footer */
footer {
    background-color: babyblue;
    color: black;
    text-align: center;
    padding: 20px;
}
