/* reset dasar */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* navbar */
nav {
    background-color: #F5FDC6;
    color: black;
    padding: 1rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: #41521f;;
    text-decoration: none;
}

/* section umum */
section {
    padding: 60px 20px;
    text-align: center;
    min-height: 80vh;
}

/* hero */
#hero {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero button {
    padding: 10px 20px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

#hero button:hover {
    background-color: green;
}

/* services card */
.card-container {
    display: flex;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background: pink;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

/* footer */
footer {
    background-color: babyblue;
    color: black;
    text-align: center;
    padding: 20px;
}
